/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
}
html{
    scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* all similar content styling codes */
section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.max-width img{
    width: 66px;
    
}
.about, .services, .skills, .teams, .contact, footer{
    font-family: 'Poppins', sans-serif;
}
.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 40px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: #a36147;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: #ff0000;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: #8099e9;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}

/* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: #7caae3;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}


/* home section styling */
.home{
    display: flex;
    background: url("images/bg-1.webp") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
  width: 100%;
  display: flex;
}
.home .max-width .row{
  margin-right: 0;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content a{
    display: inline-block;
    background: #7caae3;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid #7caae3;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: #7caae3;
    background: none;
}

/* about section styling */
.about .about-content .left{
    width: 45%;
}
@keyframes floating{
    0% {transform: translate(0, 0px);}
    50% {transform: translate(0, 15px);}
    100% {transform: translate(0, -0px);}
}
.about .about-content .left img{
    height: 400px;
    width: 315px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: #7caae3;
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    background: #8ad167;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #487f63;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: #487f63;
    background: #00ff00;
}
.about .about-content .right img{
    width: 60px;
    height: 66px;
    margin-top: 20px;
}
.about .about-content .right .wbtn{
    display: flex;
}
.about .about-content .row i{
    font-size: 25px;
    color: #7caae3;
}
.about .about-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #ff0000;
}
.about .about-content .left p{
    text-align: justify;
}
.about .about-content .left .icons{
    margin: 10px 0;
}
.about .about-content .row{
    display: flex;
    height: 65px;
    align-items: center;
    color: white;
}
.about .about-content .row .info{
    margin-left: 30px;
}
/* contact homepage */
.contact-home{
    text-align: center;
}

.contact-home h2,h4{
    text-align: center;
}
.contact-home img{
    width: 50px;
}

/* Video section */
.video{
    text-align: center;
}
/* footer section styling */
.footer_section_bd-container {
    background-color: #000000;
  }
  .footer__container {
    align-items: center;
    justify-content: center;
    display: flex;
    color: #ffffff;
    margin-bottom: 20px;
  }
  .footer__social {
    margin-right: 10px;
    width: 25px;
    cursor: pointer;
    margin-top: 5px;
  }
  
  .brandlog {
    padding: 3px;
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 45px;
  }


footer{
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: #7caae3;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}

/*========Services=====*/

.service_section {
    text-align: center;
    color: #f9fcfb;
    background: linear-gradient(to bottom, #000000 0%, #1a1919 100%);
    background-size: 100% 100%;
    padding-top: 30px;
    background-repeat: no-repeat;
  }
  
  .service_section .custom_heading-container h2 {
    border-color: #f9fcfb;
  }
  
  .service_section .service_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  .service_section .service_container .service_box {
    width: 30%;
    margin: 40px 15px;
    border-radius: 20px;
  }
  .service_section .service_container .service_box1 {
    width: 30%;
    margin: 40px 15px;
    border-radius: 20px;
  }
  
  .service_section .service_container .service_box .img-box {
    border-radius: 18px;
    overflow: hidden;
  }
  
  .service_section .service_container .service_box .img-box img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: -30px;
  }
  
  .service_section .service_container .service_box .detail-box {
    margin-top: 10px;
  }
  
  .service_section .service_container .service_box .detail-box h4 {
    font-weight: bold;
    color: white;
    font-size: 30px;
  }
  .service_section .service_container .service_box .detail-box p {
    margin-top: 4px;
  }
  
  .service_section a {
    display: inline-block;
    padding: 12px 40px;
    background-color: #7caae3;
    color: #f9fcfb;
    border-radius: 25px;
    transition: all .3s;
    border: none;
  }

/*=======Review======*/
  .service_section1 {
    text-align: center;
    color: rgb(255, 255, 255);
    background-size: 100% 100%;
    padding-top: 30px;
    padding-bottom: 10px;
    background-repeat: no-repeat;
  }
  
  .service_section1 .service_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .service_section1 .service_container .service_box {
    width: 30%;
    min-width: 300px;
    margin: 35px 15px;
    background: linear-gradient(to bottom, #537895 0%, #09203f 100%);
    border-radius: 40px;
    color: #f9fcfb;
  }
  .service_section1 .service_container .service_box h4{
    color: #060707;
  }
  
  .service_section1 .service_container .service_box .img-box {
    border-radius: 25px;
    width: 150px;
    height: 150px;
    margin-left: 30%;
    margin-top: 30px;
    overflow: hidden;
  }
  
  .service_section1 .service_container .service_box .img-box img {
    width: 150px;
  }
  
  .service_section1 .service_container .service_box .detail-box {
    padding: 0px 10px 20px 0px;
  }


  /* responsive media query start */
@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 930px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }

}

@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .services .serv-content .card{
        width: 100%;
    }
}

@media (max-width: 500px) {
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text{
        font-size: 19px;
    }
    .contact .right form .fields{
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email{
        margin: 0;
    }
    .right form .error-box{
       width: 150px;
    }
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
    .service_section .service_container .service_box {
        width: 80%;
      }
    .navbar .logo a {
        font-size: 24px;
    }
}
